// SITE

$site-width: 960px;
$site-gutter: 7.5%;

// BREAKPOINTS

// $tablet: ;
// $desktop: ;

// FONTS

$sans: 'Circle', sans-serif;

// COLORS

$blue:   #232328;
$copper: #AD6F45;

$white:  #E2E0D9;
$black:  #1E1E22;

$gradient: to right, #AE7045, #643E28;
