@import "mixins";
@import "reset";

// PARTIALS

@import "vars";

@import "font";
@import "z-index";
@import "layout";

// COMPONENTS

@import "components/keyframes";
@import "components/rule";
@import "components/section";

// SECTIONS

@import "sections/about";
@import "sections/badge";
@import "sections/footer";
@import "sections/header";
@import "sections/repos";
