.about {
  @include clearfix;
}

.about-heading {
  margin-right: auto;

  margin-bottom: 20px;

  @include min($tablet) {
    margin-bottom: 30px;
  }
}

.about-text {
  margin-bottom: 20px;

  line-height: 1.5;
}

.about-age {
  float: right;

  display: flex;
  align-items: center;

  margin-left: 25px;
}

.about-age-meta {
  margin-right: 15px;
}

.about-age-meta-heading {
  margin-bottom: 5px;

  font-size: 1.2rem;
}

.about-age-meta-text {
  font-size: 1rem;
  color: $copper;
}

.about-age-image {
  width: 64px;
  height: 64px;

  border-radius: 50%;

  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

  .about-age-image-modern    { background-image: url("images/about/modern.jpg"); }
  .about-age-image-throwback { background-image: url("images/about/throwback.jpg"); }

// content tablet

@include min($tablet) {
  .about-text             { font-size: 1.6rem; }
  .about-age              { margin-left: 50px; }
  .about-age-meta         { margin-right: 30px; }
  .about-age-meta-heading { font-size: 1.4rem; }
  .about-age-meta-text    { font-size: 1.2rem; }
}
