.about {

}

// topbar

.about-topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 20px;

  @include min($tablet) {
    margin-bottom: 30px;
  }
}

.about-heading {
  margin-right: auto;
}

.about-button {
  width: 25px;
  height: 25px;

  background-position: center;
  background-repeat: no-repeat;
}

.about-button-next { background-image: url("images/about/next.svg"); }
.about-button-prev { background-image: url("images/about/prev.svg"); }

.about-icon {
  margin-right: 10px;
  margin-left: 10px;
}

// content

.about-content {
  transition: height .5s ease;
}

.about-piece {
  opacity: 0;
  visibility: hidden;

  display: none;

  transition: opacity .5s ease, visibility 0s ease .5s;
}

  .about-piece.is-active {
    opacity: 1;
    visibility: visible;

    transition-delay: 0s;
  }

.about-text {
  line-height: 1.5;
}
