.contact {
  margin-bottom: 40px;

  @include min($tablet)  { margin-bottom: 60px; }
  @include min($desktop) { margin-bottom: 75px; }
}

.contact-heading {
  margin-bottom: 20px;

  @include min($tablet) {
    margin-bottom: 30px;
  }
}

.contact-subheading {
  margin-bottom: 25px;

  line-height: 1.5;

  @include min($tablet) {
    margin-bottom: 35px;

    font-size: 1.6rem;
  }
}

.contact-link {
  display: inline-flex;
  align-items: center;

  margin-right: 25px;

  @include min($tablet) {
    margin-right: 50px;
  }
}

.contact-link-text {
  display: none;

  @include min($tablet) {
    display: inline;
  }
}

  @include min($desktop) {
    .contact-link-text                     { transition: color .5s ease; }
    .contact-link:hover .contact-link-text { color: $copper; }
  }

.contact-link-icon {
  fill: $white;

  @include min($tablet) {
    margin-right: 15px;
  }
}
