.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 40px;

  @include min($tablet)  { margin-bottom: 60px; }
  @include min($desktop) { margin-bottom: 75px; }
}

.contact-heading {
  margin-right: auto;
}

.contact-link {
  display: inline-flex;
  align-items: center;

  margin-left: 25px;

  @include min($tablet) {
    margin-left: 50px;
  }
}

.contact-link-text {
  display: none;

  @include min($tablet) {
    display: inline;
  }
}

  @include min($desktop) {
    .contact-link-text                     { transition: color .5s ease; }
    .contact-link:hover .contact-link-text { color: $copper; }
  }

.contact-link-icon {
  fill: $white;

  @include min($tablet) {
    margin-right: 15px;
  }
}
