.contact {
  @include min($tablet) {
    display: flex;
    align-items: center;
  }
}

.contact-link {
  display: flex;
  align-items: center;

  margin-bottom: 25px;

  @include min($tablet) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact-link-icon {
  margin-right: 15px;

  fill: $white;
}
