.header {
  position: relative;

  height: calc(100vh - 85px);
  padding-top: 12.5vh;
}

  .is-ios .header {
    height: calc(100vh - 155px);
  }

.header-logo {
  width: 76px;
  height: 55px;

  background-image: url("images/header/logo.svg");
  background-position: center;
  background-repeat: no-repeat;

  @include hide-text;
}

.header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-heading,
.header-subheading {
  font-size: 2.4rem;
  line-height: 1.35;
}

.header-heading {
  margin-bottom: 30px;
}

.header-subheading {
  margin-bottom: 25px;
}

.header-cta {
  display: inline-flex;
  align-items: center;

  color: $copper;
}

.header-cta-icon {
  margin-left: 10px;
}
