.header {
  position: relative;

  height: calc(100vh - 85px);
  padding-top: 12.5vh;

  @include min($tablet) {
    height: auto;
  }
}

  .is-ios .header {
    height: calc(100vh - 155px);
  }

.header-topbar {
  @include min($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;
  }
}

.header-logo {
  width: 76px;
  height: 55px;

  background-image: url("images/header/logo.svg");
  background-position: center;
  background-repeat: no-repeat;

  @include hide-text;
}

.header-nav {
  display: none;

  @include min($tablet) {
    display: block;
  }
}

.header-nav-link {
  margin-left: 50px;

  font-size: 1.8rem;
}

.header-content {
  position: absolute;
  bottom: 0;
  left: 0;

  @include min($tablet) {
    position: static;
  }
}

.header-heading,
.header-subheading {
  font-size: 2.1rem;
  line-height: 1.35;

  @include min($tablet) {
    font-size: 2.4rem;
    line-height: 1.75;
  }
}

.header-heading {
  margin-bottom: 30px;
}

.header-subheading {
  margin-bottom: 25px;
}

.header-cta {
  display: inline-flex;
  align-items: center;

  color: $copper;

  @include min($tablet) {
    display: none;
  }
}

.header-cta-icon {
  margin-left: 10px;
}
