.repo {
  @include min($tablet)  { flex-basis: 40%; }
  @include min($desktop) { flex-basis: 27.5%; }
}

  // spacing

  .repo:not(:last-child) {
    position: relative;

    margin-bottom: 30px;
    padding-bottom: 30px;

    @include min($tablet) {
      margin-bottom: 45px;
      padding-bottom: 0;
    }
  }

  // mobile bottom "border"

  .repo:not(:last-child)::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-image: linear-gradient($gradient);

    @include min($tablet) {
      content: none;
    }
  }

.repo-name {
  display: block;
  margin-bottom: 10px;

  font-size: 1.8rem;

  @include min($tablet) {
    font-size: 2.1rem;
  }
}

  .repo-name::first-letter {
    text-transform: uppercase;
  }

  @include min($desktop) {
    .repo-name       { transition: color .5s ease; }
    .repo-name:hover { color: $copper; }
  }

.repo-desc {
  margin-bottom: 10px;

  font-size: 1.3rem;
  line-height: 1.5;
}

// meta

.repo-meta {
  display: flex;
  align-items: center;
}

.repo-info,
.repo-url {
  display: flex;
  align-items: center;
}

.repo-info {
  margin-right: 15px;
}

.repo-url {
  margin-left: auto;

  color: $copper;
}

.repo-icon {
  margin-right: 5px;
}
