.repo {

  @include min($tablet)  { flex-basis: 45%; }
  @include min($desktop) { flex-basis: 27.5%; }
}

.repo-name {
  display: block;

  font-size: 2.1rem;
}

  .repo-name::first-letter {
    text-transform: uppercase;
  }

  @include min($desktop) {
    .repo-name       { transition: color .5s ease; }
    .repo-name:hover { color: $copper; }
  }

.repo-desc {
  font-size: 1.3rem;
  line-height: 1.5;
}

.repo-stats {
  display: flex;
  align-items: center;
}

.repo-stat {
  display: flex;
  align-items: center;
}

.repo-stat-icon {
  margin-right: 5px;
}

.repo-stat-text {
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
}

.repo-url {
  display: inline-flex;
  align-items: center;

  color: $copper;

  @include min($desktop) {
    display: none;
  }
}

  .repo-url-icon {
    margin-left: 10px;
  }
